#project-header {
    font-weight: bold;
}

#project-list {
    max-height: 100vh;
    overflow: auto;
}

#project {
    background-color: #e6f9fa;
}

#project.active {
    border-color: #e6f9fa;
    background-color: #e6f9fa;
    color: #3c9da3;
}